div.PDP_overlay, div.overlay {
  position: fixed;
  font: normal 41px Verdana, sans-serif;
  color: rgb(61, 156, 2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.9);
  z-index: 10;
}
